body, html{
  font-family:"Lato", sans-serif;
  height:100%;
  margin:0;

}

.banner{
  background-image: url('../img/Nachtwachtblur.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .875;
  min-height:100%;
  overflow: auto;
}

.banner h1{
  opacity: 0.85;
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 15vh;
  text-transform: uppercase;
}

.button{
  text-align: center;
}

.button a{
  display: inline-block;
  font-size: 26px;
  margin-top: 20vh;
  color: white;
  border: 2px white solid;
  background-color: rgba(255, 255, 255, .25);
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
}

.button a:hover{
  background-color: rgba(0, 0, 0, .5);
}

.button2{
  text-align: center;
}

.return-button{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.return-button a{
  display: inline-block;
  font-size: 25px;
  color: rgba(255, 255, 255, .7);
  background-color: rgba(0, 0, 0, .4);
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
}

.return-button a:hover{
  background-color: rgba(0, 0, 0, .8);
  color: rgba(255, 255, 255, .8);
}
